${!!is_logged_in ? `
    <h2 class="user-greeting">Hello ${userName}!</h2> 
    <div class="index-table">
            <div id= "one" class="index-table-links">
                <a href="/students"></a>
            </div>
            <div id= "two" class="index-table-links">
                <a href="/sponsors"></a>
            </div>
            <div id= "three" class="index-table-links">
                <a href="/stores"></a>
            </div>
            <div id= "four"class="index-table-links">
                <a href="/grades"></a>
            </div>
            <div id= "five" class="index-table-links">
                <a href="/families"></a>
            </div>
            <div id= "six" class="index-table-links">
                    <a href="/to-do-list"></a>
            </div>
    </div>  
` : `
    <a href="/users/signup" class="user-greeting">Please sign in if you are working with SCP!</a>
    <div class="entry-photo-wrap">
        <div class="entry-photo">
        </div>
    </div>
`}